# OS Related:

*~
Thumbs.db
desktop.ini
.DS_Store

# Qt Related:

build-release/
build-debug/
*-build-*-Release/
*-build-*-Debug/
*.pro.user*
Makefile*
moc_*.cpp
qrc_*.cpp
ui_*.h
*.log
*.qch
*.qm
*.ts
*.autosave
*.moc

# Compilation Binaries:

*.o
*.ar
*.gz
*.bz2
*.xz
*.tar
*.a
*.so
*.lib
*.dll
*.exe

# Tool output:

callgrind.out.*
cachegrind.out.*

# Amalgamated sources:

/qcustomplot.h
/qcustomplot.cpp

# Vim
*.sw*

# Built libs
*.so*

# Python compiled cache
__pycache__

# Built test C++ program
sharedlib/sharedlib-usage/sharedlib-usage

# Build area for Python bindings
sharedlib/sharedlib-Py3Qt5/build/

